body
{
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial;
}

.move-icon
{
  height: 50px;
  border-radius: 25px;

}

.move
{
  background-color: transparent;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  border-radius: 65px;
  width: 125px;
  height: 125px;
  margin-right: 10px;
  cursor: pointer;

}

.result
{
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score
{
  margin-top: 60px;
}

.reset-button
{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
}


